* {
    --color-light: white;
    --color-dark: #212121;
    --color-signal: #fab700;
    --color-error: #d15858;
    --color-disabled: #ddd;

    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);
}
